In [7]:
! pip install -qr requirements.txt

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: python3 -m pip install --upgrade pip

In [8]:
from functions import query

In [6]:
df_insee_ref = query(f"SELECT * FROM insee_ref")
df_insee_ref.head()

,id_dep,libDep,id_reg,libReg,id_com,libCom,id_cir,type_com
0,01,Ain,84,Auvergne-Rhône-Alpes,01001,L'Abergement-Clémenciat,01004,entière
1,01,Ain,84,Auvergne-Rhône-Alpes,01002,L'Abergement-de-Varey,01005,entière
2,01,Ain,84,Auvergne-Rhône-Alpes,01004,Ambérieu-en-Bugey,01005,entière
3,01,Ain,84,Auvergne-Rhône-Alpes,01005,Ambérieux-en-Dombes,01004,entière
4,01,Ain,84,Auvergne-Rhône-Alpes,01006,Ambléon,01003,entière